<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <!--멤버 sql -->
    <insert id="save" parameterType="memberDto">
        insert into member (name,gender,age,id,password,address,phone)
            values(#{name},#{gender},#{age},#{id},#{password},#{address},#{phone})
    </insert>
    <select id="login" parameterType="memberLoginDto" resultType="MemberLoginDto">
        select name,member_id,password from member where member_id = #{member_id} and password = #{password}
    </select>
    <select id="findId" parameterType="memberFindId" resultType="MemberFindId">
        select id from member where name = #{name} and password = #{password}
    </select>
    <select id="findPw" parameterType="memberFindPw" resultType="MemberFindPw">
        select id,address,password from member where id = #{id} and address = #{address}
    </select>
    <update id="update" parameterType="memberUpdate" >
        update member set password = #{password}, address = #{address}, phone = #{phone} where
            member_id = #{member_id}
    </update>
    <delete id="delete" parameterType="memberDelete">
        delete from member where member_id = #{member_id} and password = #{password}
    </delete>
</mapper>

