<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reservation">
    <insert id="save" parameterType="reservationDto">
        insert into reservation (Symptom, member_id,docter_id,money)
                values(#{Symptom},#{memberId},#{docterId}, #{money})
    </insert>
    <update id="update" parameterType="reservationUpdateDto">
        update reservation set docter_id = #{docterId}, symptom = #{symptom}, money = #{money} where
        member_id = #{memberId} and reservation_id = #{reservationId}
    </update>
    <select id="select" parameterType="reservationSearch" resultType="ReservationSearch">
        select reservation.createAt as createAt, reservation.money as pay ,major.majorName as major, reservation.member_id from reservation join docter on reservation.docter_id = docter.docter_id
        join major on docter.major_id = major.major_id where reservation.member_id = #{memberId}
    </select>
    <select id="selectList" parameterType="docterReservationSearch" resultType="DocterReservationSearch">
        select member.name as name, member.gender as gender, member.age as age, member.address as address, member.phone as phone ,reservation.docter_id ,reservation.Symptom as symptom,
        reservation.createAt, reservation.money as money from reservation join member on reservation.member_id = member_id where docter_id = #{docterId};
    </select>
</mapper>